.line-wrapper {
  display: flex;
  justify-content: center;
  margin: 3rem 0; /* espace vertical autour du trait */
}

.line {
  width: 60%; /* largeur du trait */
  border-bottom: 3px solid rgba(223, 223, 223, 0.603); /* gris clair et un peu transparent */
  transition: all 0.3s ease; /* smooth transition si besoin */
}
