nav {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  transform: rotate(-90deg) translate3d(-50%,0,0);
  top: 15%;
  left: -8rem;
}

/* Style des liens */
nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #575757;
}
nav a:hover {
  color: #ec704c;
}
nav a.active {
  color: #ec704c;
}

/* Ajustement sur mobile */
@media (max-width: 768px) {
  nav {
    top: 20%;              /* Ajuste si nécessaire */
    left: -11rem;           /* décale un peu plus à gauche */
    transform: rotate(-90deg) translate3d(-70%, 0, 0);
  }
}
